.bg-secondary {
    background-color: #2c3e50 !important;
<<<<<<< HEAD
}

.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: #454546 !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;

    object-fit: cover;
}
=======
  }
  
  .copyright {
    background-color: #1a252f;
  }
  
  .bg-primary {
    background-color: #1abc9c !important;
  }
  
  nav{
    font-weight: 700;
  }
  
  .img-card{
    height: 18vw;
    object-fit: cover;
  }
  
>>>>>>> smcastril1/user-order

.custom-navbar {
  background-color: #454546; /* Color de fondo */
  padding-top: 1rem; /* Espaciado superior */
  padding-bottom: 1rem; /* Espaciado inferior */
}
