:root {
  --primary-color: #d42a2a;
  --secundary-color:#262626;
  --tertiary-color:#1a252f;
}

/* LAYOUT APP --------------------------------------------------------------------- */

a {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.bg-secondary {
  background-color: var(--secundary-color) !important;
}

.footer {
  background-color:var(--secundary-color);
}

.footer .menu-footer {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
}

.menu-footer ul {
  list-style-type: none;
  text-align: left;
}

.menu-footer :hover {
  text-decoration: none;
}


.bg-primary {
  background-color: var(--primary-color) !important;
}

nav{
  font-weight: 700;
}

.img-card{
  height: 18vw;
  object-fit: cover;
}

.form-trainingcontext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-body-trainingcontext{
  width: 30%;
  height: 30%;
}

.card-header-trainingcontext{
  background-color: var(--secundary-color);
  color: white;
}




