.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: #454546 !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}
  
.custom-navbar {
  background-color: #454546 !important; /* Color de fondo */
  padding-top: 1rem; /* Espaciado superior */
  padding-bottom: 1rem; /* Espaciado inferior */
}

.form-trainingcontext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-body-trainingcontext{
  width: 30%;
  height: 30%;
}

.card-header-trainingcontext{
  background-color: #454546;
  color: white;
}

